body{
    background-image: url("https://wallpaper-house.com/data/out/8/wallpaper2you_234046.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1, h2, body{
    font-size: 150%;
    text-align: center;
}
div.transbox {
    margin: 100px;
    background-color: #ffffff;
    opacity: 0.8;
}
div.transbox a {
    color: blue;
}
