@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

body {
    background-image: url("https://wallpapercave.com/wp/WWmeo3F.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Baloo Bhaina', cursive;
    color: white;
    text-align:center;
}
h1{
    font-family: 'Indie Flower', cursive;
    font-size: 52px;
    color: Red;
}
img{
    width: 8%;
    padding: 5px;
}
div{
    display: inline;
}
h2{
    color: yellow;
}
