body{
    background-color:black;
    background-image: url("https://vignette.wikia.nocookie.net/ajplaywild/images/7/78/Otter_Brown.png/revision/latest?cb=20170811200230");
    background-repeat: no-repeat;
    background-position: 150px center;
    margin-right: 200px;
    color:white;
    margin: 50px;
    font-size: 30px;
    text-align: center;
}

#btnSubmit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#btnSubmit {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

#btnSubmit:hover {
  background-color: #008CBA;
  color: white;
}

#q1{
    
}