body{
    background-image: url("http://reserve.louie.land/Wallpapers/The%20Nightmare%20Before%20Christmas/Halloween%20Town/Halloween%20Town%20-%20Desktop.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1, h2, body{
    color: white;
    font-size: 200%;
}
.error {
    color: #FF0000;
}
img{
    size: 20%;
}